@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic');

/*ПЕРЕНАЗНАЧЕНИЕ bootstrap СТИЛЕЙ*/
.mr-auto {
    margin-left: auto;
    margin-right: auto;
}

/*ОСНОВНОЕ*/
body {
    font-family: 'Open Sans', sans-serif;
}
.flex {
    display: flex;
}
h2 {
    font-size: 42px;
    opacity: 0.8;
    font-family: 'Open Sans Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
h4 {
    font-size: 24px;
    font-family: 'Open Sans Semibold', sans-serif;
    opacity: 0.7;
    margin-top: 30px;
}
.border_bottom {
    border-bottom: 2px solid #ececec;
}
.hr {
    width: 130px;
    height: 2px;
    display: inline-block;
    border-bottom: 2px solid #ff3f40;
}
.no-padding {
    padding: 0;
}

/*ШАПКА*/
header {
    background-color: #f6f2f2;
}
header nav {
    height: 89px;
    text-align: center;
}
header h1 {
    font-family: 'Open Sans Extrabold', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    /* letter-spacing: 5px; */
}
.intro {
    padding-top:  109px;
    padding-bottom: 109px;
}
.intro span {
    margin-top: 38px;
    font-size: 16px;
    line-height: 28px;
    /* letter-spacing: -0.2px; */
    opacity: 0.7;
}
.intro button {
    display: block;
    padding: 20px 63px;
    margin-top: 62px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18.14px;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 600;
    background-color: #ff3f40;
}
.intro .video {
    width: 551px;
    height: 356px;
    background-color: #c4c0b1;
    text-align: right;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 600;
    color: #e0e0e0;
    padding-top: 43px;
    padding-right: 23px;
    font-size: 14px;
    padding-left: 23px;
    padding-bottom: 25px;
    text-transform: uppercase;
    margin-right: 18px;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    background-color: #ff3f40;
}

/*SECTION*/
.text {
    font-size: 16px;
    font-family: 'Open Sans Regular', sans-serif;
    line-height: 28px;
    opacity: 0.7;
}
.item .text {
    opacity: 0.7;
}
.item h3 {
    opacity: 0.7;
    margin-top: 30px;
}
.section_1 {
    padding-top: 114px;
    padding-bottom: 110px;
}
.section_1 button {
    display: block;
    padding: 20px 63px;
    margin-top: 62px;
    border: 2px solid #ff3f40;
    border-radius: 5px;
    color: #ff3f40;
    font-size: 18.14px;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 600;
    background: none;
}
.section_2 {
    padding-top: 107px;
}
.section_2 .text{
    opacity: 0.7;
    padding-top: 38px;
    padding-bottom: 28px;
}
.tabs {
    justify-content: center;
    display: flex;
}
.tab-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 22px;
    margin-right: 60px;
}
.tabs .active {
    color: #ff3f40;
}
.item-block {
    margin-top: 66px;
    padding: 0 20px;
}
.item-block .item {
    width: 280px;
    height: 290px;
    background-color:  #f5f0dd;
    margin-right: 20px;
    margin-bottom: 20px; 
}
.section_3 {
    margin-top: 140px;
    margin-bottom: 109px;
}
.section_3 .text {
    width: 455px;
    margin-left: 10px;
    padding-top: 42px; 
}
.section_3 .hr  {
    padding-top: 42px;
}
.section_3 .block {
    width: 100%;
    height: 100px;
}
.section_3 .photo-block {
    width: 322px;
    height: 458px;
    background-color: #f5f0dd;
}
.section_3 h3 {
    opacity: 0.7;
    text-transform: uppercase;
    font-family: 'Open Sans Semibold', sans-serif;
}
.section_3 .text {
    margin: 0;
    width: 631px;
    padding-top: 30px;
    padding-bottom: 37px;
}
.section_3 .social a{
    opacity: 0.7;  
    font-size: 18px;
    color: #212529;
    font-style: italic;
    margin-right: 32px;
    text-decoration: none;
}
.section_3 .person-block {
    display: flex;
    position: absolute;
    bottom: 0;
}
.section_3 .person-block .item {
    width: 197px;
    height: 214px;
    margin-right: 21px;
    background-color: #f5f0dd;
    position: relative;
    cursor: pointer;
}
.section_3 .person-block .item span {
    width: 100%;
    height: 37px;
    color: #fff;
    text-transform: uppercase;
    background-color: #7a786e;
    text-align: center;
    padding: 13px 52px;
    display: none;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    line-height: 0.5;
    transition: 2s;
}
.section_4 {
    max-height: 511px;
}
.section_4 .section-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 140px 0;
}
.section_4 .section-content .form {
    margin-top: 64px;
}
.section_4 .section-content .form .text {
    padding: 32px 36px;
    background: #fff;
    border-color: #fff;
    border-radius: 10px;
    width: 520px;
    border-style: none;
    margin-right: 22px;
}
.section_4 .section-content .form .button  {
    padding: 32px 57px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    background: #ff3f40;
    border-radius: 10px;
    border-color: none;
    font-weight: 600;
}
.section_4 .background-absolute {
    background: #f5f0dd;
    position: absolute;
    width: 100%;
    height: 511px;
    left: 0;
}
.section_5 {
    padding: 106px 0;
}
.section_5 .text {
    max-width: 720px;
}
.section_5 .form .text {
    display: flex;
    justify-content: space-between;
}
.section_5 .form .text input {
    padding: 27px 52px;
    border-radius: 10px;
    background: #e5e5e5;
    border-style: none;
}
.section_5 .form .text textarea {
    padding: 27px 52px;
    border-radius: 10px;
    background: #e5e5e5;
    border-style: none;
    width: 729.05px;
    height: 250px;
    margin-top: 47px;
}
.section_5 .form .button input {
    padding: 27px 296px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: #ff3f40;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 47px;
}
.section_5 .contact-info {
    height: 518px;
    
}
.section_5 .contact-info .background-absolute {
    background: #212529;
    position: absolute;
    width: 500px;
    height: 100%;
    left: 0;
}
.section_5 .section-content {
    color: #e0e0e0;
    position: relative;
    padding-left:78px;
    padding-top: 145px;
}
.section_5 .section-content p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}
.section_5 .section-content span {
    margin-top: 30px;
    display: block;
    position: relative;
    width: 300px;
}
.footer {
    background: #212529;
    padding: 58px 0;
}
.footer .copyring {
    color: #a3a3a3;
    font-size: 16px;
}
.footer .social a img {
    margin-right: 16px;
}
.footer .section-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .section-content .social {
    text-align: right;
}
.show span {
    display: block !important;
}
